
   .ButtonContainer {
   
    align-items: center;
    justify-content: center;
    display: flex;
  margin-left: 10px;
  height: 80%;
  aspect-ratio: 1;
  /* border-radius: 50%; */
  /* border-width: 2px; */
  border-color: black;
  border:none
  
  
  
  
 

}   
/* .Button {
  
  
 
    height: 100%;
    border-radius: 50%; 
    border: solid;
    border-width: 1px;
border-color: black; 
    
      z-index: 100; 
       background-color: black; 
   
    
  } */
