.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-left: none;
    border-right: none;
    border-left: none;
    border-bottom-style: solid;
    border-color: black;
}