.cell{
    z-index: 100;
    width: 100%;
    height: 100%;
    border-color: rgb(224, 222, 222);  
    border-style: solid;
    
}
.cell:focus{
    color:  rgb(224, 222, 222);  
    outline: none;
  }