.cell {
  z-index: 1000;
  width: 100%;
  height: 100%;
  border-color: rgb(224, 222, 222);
  border-style: solid;
  border-width: 1px;
}
.cell:focus {
  z-index: 1001;
  outline: blue;
  border-color: blue;
  border-width: 2px;
  box-shadow: rgba(85, 85, 187, 0.55) 0px 50px 100px -20px,
    rgba(76, 101, 170, 0.5) 0px 30px 60px -30px,
    rgba(83, 133, 184, 0.35) 0px -2px 6px 1px inset;
} 