.IdCell{
    width: 100%;
    height: 100%;
    border-color: rgb(93, 92, 92);
    border-style: solid;
    border-width: 1px;
    text-align: center;
}
.IdCell:focus{
    outline: none;
  }
.outer{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(93, 92, 92);
    /* margin-top: -1px; */
    width: 100%;
    height: 100%;
}